html, html *{
    border:0;
    margin:0;
    box-sizing: border-box;
    }
    
    @keyframes hi{
        from{transform:translateY(50px)}
        to{transform: translateY(0);}
        
    }
    
    .a1{
        text-decoration: none;
        color:white;
        font-weight: bold;
        margin:150px 0 0 150px;
        font-size:16px;
    
    }
    .lcontainer{
        background:url("img/back1.png");
        height:900px;
        padding-top:50px;
        animation:hi 1s;
    
        
        
        
    
    }
    .a2{
        text-decoration: none;
        color:white;
        font-size:16px;
        margin-left:20px;
        font-family: sans-serif;
        
        
        
    }

    

    .container6{
        display:flex;
    }

    .ha{
        display:none;
    }
    .container{
        display:flex;
        margin-bottom:100px;
        
    }
    
    .con{
       margin:150px 0  0  700px;
    }
    
    .cont{
        
        margin-left:150px;
        
        
    }
    
    .conta{
       
        margin-left:0px;
      
        
    }
    
    .dd{
        width:280px;
        height:550px;
        margin-left:30px;
        border-radius: 30px;
        margin-top:20px;
        box-shadow: rgba(0, 0, 0, 0.18) ;
        
    }
    
    .h1{
        font-size:75px;
        font-weight:bold;
        color:white;
        font-family: sans-serif;
       
    }
    
    .h3{
        margin-top:20px;
        color:white;
        font-size:20px;
        font-family: sans-serif;
    }

    .hhh{
        clear:both;

    }
    
    .but{
        border-radius: 25px;
        font-size:20px;
        font-weight: bold;
        color:white;
        margin-top:80px;
        border:1px solid white;
        background-color: aqua;
        padding:10px 25px;
        font-family: sans-serif;
    }
    
    .acontainer1{
        
        
        padding-left:150px;
        padding-top:200px;
        margin-right:100px;
        
       
    }
    .aa{
        width:350px;
        height:300px;
    }
    .acontainer2{
    
        
        
        padding-top:200px;
        margin-left:15px;
      
    }
    
    
    .acontainer{
        width:100%;
        height:600px;
        background-color: bisque;
        display:flex;
        animation: hi 1s;
    
        
    }
    
    .a{
        margin-bottom:25px;
        font-weight: lighter;
        margin-left:60px;
        font-size:35px;
        font-family: sans-serif;
    }
    
    .b{
        font-weight: bold;
    }
    
    .bcontainer1{
        margin-left:50px;
        margin-top:40px;
        display:flex;
       
    }
    .bcontainer2{
        margin-left: 30px;
        margin-top:40px;
        display:flex;
      
        
    }

    
    .c{
        font-size:14px;
        font-family: sans-serif;
    }
    
    .acontainer21{
        display:flex;
    }
    
    .econtainer{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top:100px;
        background-color:beige;
        animation:hi 1s;
    
    }
    .e{
        font-size:50px;
        margin-bottom: 10px;
        font-weight: lighter;
        font-family: sans-serif;
    }
    
    .d{
        font-size:15px;
        margin-bottom: 5px;
        font-weight: lighter;
        font-family: sans-serif;
    }
    
    .w{
        margin-bottom:30px;
    }
    .ee{
        height:500px;
        width:250px;
        margin-left:17px;
        box-shadow: 1px 1px gray;
        border-radius: 30px;
        box-shadow:rgba(0, 0, 0, 0.18);
        
    }
    .eea{
        
    }
    .fcontainer{
       max-width:100%;
        height:500px;
        display:flex;
        background-color: rgb(250, 250, 250);;
        animation:hi 1s;
    }
    .fcontainer1{
        margin-top:200px;
        margin-left:150px;
    
    }
    .fcontainer2{
        
        
        margin-top:200px;
    
        margin-left: 300px;
    }
    
    .f{
        font-size:50px;
        font-weight: lighter;
        font-family: sans-serif;
        
    }
    
    .s{
        font-size:18px;
        font-weight: lighter;
        margin-bottom:10px;
        font-family: sans-serif;
    }
    .ll{
        margin-top:20px;
    }
    
    .l{
        width:250px;
        height:400px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.18) ;
        
    }
    
    .scontainer{
        padding-top:100px;
        background-color:aquamarine;
        height:800px;
        position:relative;
        animation:hi 1s;
      
    }
    
    .h{
        font-size:48px;
        margin-bottom: 10px;
        color:white;
        text-align: center;
        font-weight:lighter;
        font-family: sans-serif;
    }
    .j{
        font-size:18px;
        color:white;
        text-align: center;
        font-weight: lighter;
        font-family: sans-serif;
    }
    .bbf{
        position:absolute;
        left:600px;
        top:3350px;
    }
    .bbg{
        position:absolute;
    }
    
    .scontainer1{
        margin-top:20px;
    }
    
    .gg{
        width:500px;
        height:300px;
        
    }
    
    .scontainer2{
        margin-top:50px;
        display:flex;
        justify-content: center;
    }
    
    .nav1{
        display:flex;
        justify-content:center;
        margin-top:20px;
    }
    
    .v{
        text-decoration: none;
        color:white;
        font-size: 20px;
        margin-left:30px;
    }
    
    .v:active{
        border-radius: 25%;
        background-color: white;
        color:blue;
        padding:15px 30px;
    }
    
    .k{
        font-size:130px;
        margin-right:50px;
        margin-top:30px;
        color:white;
        font-weight: lighter;
        
    }
    
    .u{
        font-size:130px;
        margin-left:50px;
        margin-top:30px;
        
        color:white;
        font-weight: lighter;
        
    }
    .k:hover{
        color:aqua;
        cursor:pointer;
        
    }
    
    .u:hover{
        color:aqua;
        cursor:pointer;
    }
    
    .hcontainer{
      background-color:blue;
      height:800px;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      animation:hi 1s;
    
    }
    
    .o{
       text-align: center;
       font-family: sans-serif;
    }
    .aaad{
        width:300px;
        height:300px;
        margin-bottom: 20px;
        
    }
    .aac{
        padding-top:30px;
        margin-bottom:30px;
        font-size:30px;
        color:white;
    }
    
    .aab{
        margin-left:650px;
        font-size:50px;
        color:white;
        
    
    }
    
    .nn{
        font-size:40px;
        margin-right:10px;
    }
    
    .ab{
        font-size:60px;
        margin-top:10px;
        color:white;
    }
    .ac{
        font-size:50px;
        margin-bottom:20px;
        color:white;
    }

    
    
    .ad{
        color:white;
        margin-bottom:10px;
        font-size:16px;
        font-weight: lighter;
    }
    
    .dc{
        margin-top:100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button{
        border-radius:30px;
        background-color: white;
        color:blue;
        font-weight:bold;
        font-size:20px;
        padding:16px 30px;
        cursor:pointer;
    }
    
    .z{
        font-size: 30px;
        color:white;
    }
    
    .p{
        color:white;
        font-size:20px;
        font-family: sans-serif;
       
    }
    
    .rcontainer{
       
        display:flex;
        animation:hi 1s;
    }
    
    .rcontainer1{
        margin-left:150px;
        margin-top:50px;
    }
    
    .rcontainer2{
        margin:50px 100px 0 700px;
    }
    
    .qcontainer{
        background-color:rgba(35, 51, 50, 0.96);;
        height:700px;
    }
    
    .rcontainer3{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top:200px;
    }
    .mm{
        font-size:10px;
        margin-left:7px;
    }

    .x{
        font-size:30px;
        color:white;
        font-weight: lighter;
        margin-bottom: 15px;
        font-family: sans-serif;
    }
    
    .y{
        font-size:17px;
        color:white;
        font-weight: lighter;
        font-family: sans-serif;
        
    }
    
    .ff{
        font-size:16px;
        border-radius: 30px;
        padding:15px 35px;
        color:white;
        background-color: burlywood;
        margin-top:20px;
        cursor:pointer;
        border:1px solid white;
        font-family: sans-serif;
    }
    
    .ff:hover{
        background-color: white;
        color:black;
    }
    
    .xx{
        text-decoration: none;
        color:burlywood;
        margin-bottom: 30px;
        font-size:13px;
        font-family: sans-serif;
    }
    
    .xy{
        font-size:11px;
        color:burlywood;
        font-weight: lighter;
        font-family: sans-serif;
    }
    
    .ocontainer12{
        display: flex;
        margin-top:20px;
    }
    
    .xz{
        text-decoration: none;
        margin-left:10px;
        color:black;
        font-family: sans-serif;
        font-size:11px;
    }
    
    .g{
        color:black;
        width:1px;
        height:5px;
    }
    
    .ocontainer13{
        margin-bottom:20px;
        margin-top:30px;
    }
    
    
    .ocontainer1{
        
        margin-left: 250px;
    }
    
    .ocontainer2{
        
        margin-left:250px;
        margin-top:30px;
    }
    
    .butt{
        color:burlywood;
        border:1px solid burlywood;
        padding:10px 10px;
        border-radius: 10%;
        cursor:pointer;
        font-size:10px;
        font-family: sans-serif;
    }
    .ocontainer{
        height:200px;
        display: flex;
        animation:hi 1s;
    }
    
    .i{
        margin-left:10px;
    }
    
    .ycontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(245, 245, 245);;
        height:900px;
        animation:hi 1s;
    }

    .thing{
        width:25px;
    }
    .ocon2{
        margin-top:60px;
        margin-left:80px;
    }
    
    .ya{
        width:200px;
        height:400px;
        margin-left:30px;
        border-radius: 30px;
        box-shadow:rgba(0, 0, 0, 0.18) 
    }
    
    .yd{
        font-size: 54px;
        font-weight: lighter;
        font-family: sans-serif;
    }
    
    .yc{
        font-size: 16px;
        font-weight: lighter;
        font-family: sans-serif;
    }
    
    .ycontainer1{
       text-align: center;
        margin-top:150px;
        margin-bottom: 30px;
        font-weight: lighter;
    
    }
    
    .ycontainer2{
        margin-bottom:40px;
    }
    
    .tcontainer1{
        margin-left:60px;
     
        margin-top:200px;
    }
    .tcontainer2{
        
       margin-left:30px;
        margin-top: 100px;
    }
    
    
    .tcontainer{
        height:900px;
        margin-top:100px;
        background-color:rgb(245, 245, 245);;
        display: flex;
        animation:hi 1s;
    }
    
    .tc{
        width:400px;
        height:500px;
        margin-left:0;
    
    }
    
    .ta{
        font-weight: lighter;
        font-size:50px;
        padding-left: 150px;
        font-family: sans-serif;
    }
    
    .tb{
        font-weight: lighter;
        font-size:17px;
        padding-left: 150px;
        margin-bottom:9px;
        font-family: sans-serif;
    }
    
    .td{
        margin-top:35px;
    }
    
    .tf{
        padding-top:100px;
    }

    .nna{
        width:250px;
        height:150px;
        margin-top:400px;
    }

    .nnb{
        width:250px;
        height:200px;
    }

    .nnc{
        width:250px;
        height:200px;
        
    
    }
    .q{
        box-shadow: (0, 0, 0, 0.18) 
    }
   .gggg{
    
   }

    .nnd{
        width:250px;
        height:300px;
        margin-top: 200px;
    }

    .nne{
        width:250px;
        height:300px;
        
    }
    .tcontainer2{
        display: flex;
    
    }
    .q{
     border-radius: 30px;   
     margin-bottom:20px;
    }

.tc21{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right:20px;
}
.tc22{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.png{
    width:12px;
    height:12px;
}



@media screen and  (max-width:768px){

    
    .con{
        width:700px;
        margin:0px 25px 0 430px;
    
    }
    .lcontainer{
        height:765px;
    }
    .a1{
        margin-top:0px;
        margin-left:20px;
        font-size:13px;
    }
    .a2{
        font-size:13px;
    }
    .container{
      margin-top:10px;
    }
    .h1{
        font-size:40px;
        text-align: center;
    
    }
    .h3{
        font-size:20px;
        text-align: center;
    }
    .but{
        display: none;
    }
    
    .cont{
        
        margin:auto;
    }
    
    .conta{
        
        text-align: center;
        margin:auto;
    }
    .dd{
        width:200px;
        height:400px;
        margin-top:20px;
        
    }
    
    .ha{
        display:block;
        background-color: blue;
        text-align: center;
        font-weight: lighter;
        font-size:10px;
        padding:10px 10px;
        color:white;
        
        position:relative;
       
    }
    
    .container6{
        display:block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

   
    
    .acontainer{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:500px;
    }
    .aa{
        width:190px;
        height:160px;

    }
    .acontainer2{
        margin-top: 10px;
        position: absolute;
      
        
    
    }
    .acontainer1{
        margin-bottom: 400px;
        
     
    }
    .a{
        font-size: 20px;
        text-align: center;
    }
    .c{
        font-size:10px;
    }
    .nn{
        font-size:20px;
        margin-top:5px;
    }

    .econtainer{
        position: relative;
        height:700px;
    }

    .e{
        font-size: 25px;
        font-weight: bold;
    }

    .ee{
        width:120px;
        height:230px;
    }
    .eeb{
        position: absolute;
        top:380px;
        left:270px;
    }
    .eea{
        margin-left:20px;
    }
    .eec{
        margin-right:20px;
    }
    .eeee{
        margin-top:40px;
    }

    .yd{
        font-size:25px;
        font-weight: bold;
    }
    .yc{
        font-size:15px;
        text-align: center;
    }

    .ya{
        width:120px;
        height:250px;
    }

    .ya2{
        position:absolute;
        top:2450px;
        left:260px;
    }
    .yaa{
        margin-top:50px;
    }
    .ya1{
        margin-right: 40px;
    }

    .f{
        font-size:40px;
    }
    .fcontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:600px;
    }
    .f{
        text-align: center;
        font-size:25px;
    }
    .s{
        font-size:15px;
        text-align: center;
    }

    .l{
        width:100px;
        height:250px;
        
        text-align: center;
    }
  
    
    .fcontainer{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .fcontainer1{
        margin-top:40px;
        margin-left:30px;
    }
    .bbg{
        position: absolute;
        left:300px;
        top:3250px;
        width:130px;
    }
    .bbf{
        position:absolute;
        top:3180px;
        left:360px;
        width:130px;
    }

    .tcontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:700px;
    }
   .tcontainer1{
    margin-bottom:700px ;
    
    margin-left:0px;
    
   }
   .tcontainer2{
    position: absolute;
    
   }
   .nna{
    width:150px;
    height:90px;
   }
   .nnb{
    width:150px;
    height:200px;
   }
   .nnc{
    width:150px;
   }
   .nnd{
    width:150px;
    height:300px;
    padding-top: 100px;
   }
   .nne{
    width:150px;
   }

   .ta{
    font-size:20px;
    font-weight: bold;
    text-align: center;
   }
   .tb{
    font-size:13px;
    text-align: center;
   }
  
   .xy{
    font-size:10px;
   }

   .ocontainer1{
    margin-left:30px;
   }
   .ocontainer2{
    margin-left: 170px;
   }

   .rcontainer2{
    margin-top:25px;
    margin-left:450px;
    display:flex;
    width:500px;
    

   }
   .rcontainer1{
    margin-left: 50px;
    margin-top:15px;
   }
   .z{
    font-size:15px;
    margin-left:10px;
    
   }
   
   .p{
    font-size:15px;
    
   }
   .x{
    font-size: 16px;
   }
   .y{
    font-size: 14px;
   }

   .ff{
    font-size:13px;
    padding:5px 15px;
   }
   .qcontainer{
    height:500px;
   }
   .ocontainer{
    height:250px;
   }
}