html, html *{
    border:0;
    margin:0;
    box-sizing: border-box;
    }
    
    
    .a1{
        text-decoration: none;
        color:white;
        font-weight: bold;
        margin:150px 0 0 150px;
        font-size:16px;
    
    }
    .lcontainer{
        background:url("img/back1.png");
        height:800px;
        margin-top:50px;
    
    }
    .a2{
        text-decoration: none;
        color:white;
        font-size:16px;
        margin-left:20px;
        
        
        
    }

    .container6{
        display:flex;
    }

    .ha{
        display:none;
    }
    .container{
        display:flex;
        margin-bottom:100px;
        
    }
    
    .con{
       margin:150px 0  0  700px;
    }
    
    .cont{
        
        margin-left:150px;
        
        
    }
    
    .conta{
       
        margin-left:0px;
      
        
    }
    
    .dd{
        width:300px;
        height:500px;
        margin-left:30px;
        border-radius: 10%;
        margin-top:20px;
        
    }
    
    .h1{
        font-size:75px;
        font-weight:bold;
        color:white;
       
    }
    
    .h3{
        margin-top:20px;
        color:white;
        font-size:20px;
    }

    .hhh{
        clear:both;

    }
    
    .but{
        border-radius: 25px;
        font-size:20px;
        font-weight: bold;
        color:white;
        margin-top:80px;
        border:1px solid white;
        background-color: aqua;
        padding:10px 25px;
    }
    
    .acontainer1{
        
        width:300px;
        padding-left:150px;
        padding-top:200px;
        margin-right:300px;
       
    }
    .aa{
        width:350px;
        height:300px;
    }
    .acontainer2{
    
        width:700px;
        
        padding-top:200px;
        margin-left:15px;
      
    }
    
    
    .acontainer{
        width:100%;
        height:600px;
        background-color: bisque;
        display:flex;
        
    }
    
    .a{
        margin-bottom:25px;
        font-weight: lighter;
        margin-left:60px;
        font-size:35px;
    }
    
    .b{
        font-weight: bold;
    }
    
    .bcontainer1{
        margin-left:50px;
        margin-top:40px;
        display:flex;
       
    }
    .bcontainer2{
        margin-left: 30px;
        margin-top:40px;
        display:flex;
      
        
    }

    
    .c{
        font-size:14px;
    }
    
    .acontainer21{
        display:flex;
    }
    
    .econtainer{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top:100px;
        background-color:beige;
    
    }
    .e{
        font-size:50px;
        margin-bottom: 10px;
        font-weight: lighter;
    }
    
    .d{
        font-size:15px;
        margin-bottom: 5px;
        font-weight: lighter;
    }
    
    .w{
        margin-bottom:30px;
    }
    .ee{
        height:350px;
        width:200px;
        margin-left:13px;
        box-shadow: 1px 1px gray;
        border-radius: 10%;
        
    }
    .eea{
        
    }
    .fcontainer{
        width:100%;
        height:450px;
        display:flex;
        background-color: rgb(250, 250, 250);;
    }
    .fcontainer1{
        margin-top:200px;
        margin-left:150px;
    
    }
    .fcontainer2{
        margin-top:100px;
    
        margin-left: 200px;
    }
    
    .f{
        font-size:50px;
        font-weight: lighter;
    }
    
    .s{
        font-size:18px;
        font-weight: lighter;
        margin-bottom:10px;
    }
    .ll{
        margin-top:20px;
    }
    
    .l{
        width:200px;
        height:400px;
    }
    
    .scontainer{
        padding-top:100px;
        background-color:aquamarine;
        height:800px;
    }
    
    .h{
        font-size:48px;
        margin-bottom: 10px;
        color:white;
        text-align: center;
        font-weight:lighter;
    }
    .j{
        font-size:18px;
        color:white;
        text-align: center;
        font-weight: lighter;
    }
    
    .scontainer1{
        margin-top:20px;
    }
    
    .gg{
        width:500px;
        height:300px;
        
    }
    
    .scontainer2{
        margin-top:50px;
        display:flex;
        justify-content: center;
    }
    
    .nav1{
        display:flex;
        justify-content:center;
        margin-top:20px;
    }
    
    .v{
        text-decoration: none;
        color:white;
        font-size: 20px;
        margin-left:30px;
    }
    
    .v:active{
        border-radius: 25%;
        background-color: white;
        color:blue;
        padding:15px 30px;
    }
    
    .k{
        font-size:130px;
        margin-right:50px;
        margin-top:30px;
        color:white;
        font-weight: lighter;
        
    }
    
    .u{
        font-size:130px;
        margin-left:50px;
        margin-top:30px;
        
        color:white;
        font-weight: lighter;
        
    }
    .k:hover{
        color:aqua;
        cursor:pointer;
        
    }
    
    .u:hover{
        color:aqua;
        cursor:pointer;
    }
    
    .hcontainer{
      background-color:blue;
      height:800px;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    
    }
    
    .o{
       text-align: center;
    }
    .aaad{
        width:300px;
        height:300px;
        margin-bottom: 20px;
        
    }
    .aac{
        padding-top:30px;
        margin-bottom:30px;
        font-size:30px;
        color:white;
    }
    
    .aab{
        margin-left:650px;
        font-size:50px;
        color:white;
        
    
    }
    
    .nn{
        font-size:40px;
        margin-right:10px;
    }
    
    .ab{
        font-size:60px;
        margin-top:10px;
        color:white;
    }
    .ac{
        font-size:50px;
        margin-bottom:20px;
        color:white;
    }

    
    
    .ad{
        color:white;
        margin-bottom:10px;
        font-size:16px;
        font-weight: lighter;
    }
    
    .dc{
        margin-top:100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button{
        border-radius:30px;
        background-color: white;
        color:blue;
        font-weight:bold;
        font-size:20px;
        padding:16px 30px;
        cursor:pointer;
    }
    
    .z{
        font-size: 30px;
        color:white;
    }
    
    .p{
        color:white;
        font-size:20px;
       
    }
    
    .rcontainer{
       
        display:flex;
    }
    
    .rcontainer1{
        margin-left:150px;
        margin-top:50px;
    }
    
    .rcontainer2{
        margin:50px 100px 0 700px;
    }
    
    .qcontainer{
        background-color:rgba(35, 51, 50, 0.96);;
        height:700px;
    }
    
    .rcontainer3{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top:200px;
    }
    .mm{
        font-size:10px;
        margin-left:7px;
    }

    .x{
        font-size:30px;
        color:white;
        font-weight: lighter;
        margin-bottom: 15px;
    }
    
    .y{
        font-size:17px;
        color:white;
        font-weight: lighter;
        
    }
    
    .ff{
        font-size:16px;
        border-radius: 30px;
        padding:15px 35px;
        color:white;
        background-color: burlywood;
        margin-top:20px;
        cursor:pointer;
        border:1px solid white;
    }
    
    .ff:hover{
        background-color: white;
        color:black;
    }
    
    .xx{
        text-decoration: none;
        color:burlywood;
        margin-bottom: 30px;
        font-size:13px;
    }
    
    .xy{
        font-size:11px;
        color:burlywood;
        font-weight: lighter;
    }
    
    .ocontainer12{
        display: flex;
        margin-top:20px;
    }
    
    .xz{
        text-decoration: none;
        margin-left:10px;
        color:black;
    
        font-size:11px;
    }
    
    .g{
        color:black;
        width:1px;
        height:5px;
    }
    
    .ocontainer13{
        margin-bottom:20px;
        margin-top:30px;
    }
    
    
    .ocontainer1{
        
        margin-left: 250px;
    }
    
    .ocontainer2{
        
        margin-left:250px;
        margin-top:30px;
    }
    
    .butt{
        color:burlywood;
        border:1px solid burlywood;
        padding:10px 10px;
        border-radius: 10%;
        cursor:pointer;
        font-size:10px;
    }
    .ocontainer{
        height:200px;
        display: flex;
    }
    
    .i{
        margin-left:10px;
    }
    
    .ycontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(245, 245, 245);;
        height:900px;
    }

    .thing{
        width:25px;
    }
    .ocon2{
        margin-top:60px;
        margin-left:80px;
    }
    
    .ya{
        width:250px;
        height:400px;
        margin-left:30px;
        border-radius: 10%;
        box-shadow:2px 2px gray;
    }
    
    .yd{
        font-size: 54px;
        font-weight: lighter;
    }
    
    .yc{
        font-size: 16px;
        font-weight: lighter;
    }
    
    .ycontainer1{
       text-align: center;
        margin-top:150px;
        margin-bottom: 30px;
        font-weight: lighter;
    
    }
    
    .ycontainer2{
        margin-bottom:40px;
    }
    
    .tcontainer1{
        margin-left:60px;
     
        margin-top:200px;
    }
    .tcontainer2{
        
       margin-left:30px;
        margin-top: 100px;
    }
    
    
    .tcontainer{
        height:900px;
        margin-top:100px;
        background-color:rgb(245, 245, 245);;
        display: flex;
    }
    
    .tc{
        width:400px;
        height:500px;
        margin-left:0;
    
    }
    
    .ta{
        font-weight: lighter;
        font-size:50px;
        padding-left: 150px;
    }
    
    .tb{
        font-weight: lighter;
        font-size:17px;
        padding-left: 150px;
        margin-bottom:9px;
    }
    
    .td{
        margin-top:35px;
    }
    
    .tf{
        padding-top:100px;
    }

    .nna{
        width:300px;
        height:150px;
        margin-top:200px;
    }

    .nnb{
        width:300px;
        height:200px;
    }

    .nnc{
        width:300px;
        height:200px;
        
    
    }

   

    .nnd{
        width:300px;
        height:300px;
        margin-top: 200px;
    }

    .nne{
        width:300px;
        height:300px;
        
    }
    .tcontainer2{
        display: flex;
    
    }
    .q{
     border-radius: 30px;   
     margin-bottom:20px;
    }

.tc21{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right:20px;
}
.tc22{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.png{
    width:12px;
    height:12px;
}



@media  (max-width:768px){
    .con{
        margin:150px 25px 0 250px;
    }
    
    .h1{
        font-size:40px;
        text-align: center;
    
    }
    .h3{
        font-size:20px;
        text-align: center;
    }
    .but{
        display: none;
    }
    
    .cont{
        float:none;
        margin:auto;
    }
    
    .conta{
        float:none;
        text-align: center;
        margin:auto;
    }
    .dd{
        width:200px;
        height:300px;
        margin-top:20px;
        
    }
    
    .ha{
        display:block;
        background-color: blue;
        text-align: center;
        font-weight: lighter;
        font-size:10px;
        padding:10px 10px;
        color:white;
    }
    
    
    }